<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

  <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>TestFilter</filter-name>
        <filter-class>com.ky.filters.TestFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.ky.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.ky.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseServlet</servlet-name>
        <servlet-class>com.ky.servlet.ResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>com.ky.servlet.FormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/my-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseServlet</servlet-name>
        <url-pattern>/response</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>TestFilter</filter-name>
        <url-pattern>/test</url-pattern>
    </filter-mapping>
    
</web-app>
